div.ces-offerwant {
  background-color: #f1f1f1;
  margin-bottom: 10px;
  margin-top: 10px;
  padding: 10px;
}

div.ces-offerwant-title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}


div.ces-offerwant-rate {
  margin-bottom: 5px;
  padding-right: 10px;
  text-align: right;
}


div.ces-offerwant-rate div {
  display: inline-block;
}

div.ces-offerwant-rate .field-item {
  font-size: 16px;
  font-style: italic;
  margin-left: 5px;
}

div.ces-offerwant-footer {
  border-top: 1px solid white;
  clear: both;
  padding-top: 5px;
}

div.ces-offerwant-seller-picture {
  float: left;
}

div.ces-offerwant-seller-name-and-phone {
  float: left;
  font-size: 90%;
  line-height: 1.2em;
}


div.ces-offerwant-actions {
  float: right;
  margin-top: 5px;
}

div.ces-offerwant-properties {
  border-top: 1px solid #fff;
  clear: both;
  margin-top: 10px;
}

dl.ces-offerwant-properties-list {
  margin: 5px 0;
  padding: 0;
}

div.ces-offerwant-properties dt {
  clear: both;
  float: left;
  font-weight: bold;
  height: 30px;
  width: 150px;
}

div.ces-offerwant-properties dd {
  height: 30px;
  margin-left: 150px;
}
.ces-offerwant-send_notify {
  float: right;
}

div.ces_offercomment_wrapper {
  background-color: #f1f1f1;
  margin-bottom: 5px;
  margin-top: 0;
  padding: 10px;
}

div.offercomment-rated-author {
  font-size: 90%;
}
