#featured h2 {
  display: none;
}

#block-ces-summaryblock-ces-summary {
  font-size: 14px;
  margin-top: -15px;
  margin-bottom: -50px;
}

div.ces_summaryblock_controls,
div.ces_summaryblock_number,
div.ces_summaryblock_trade {
  display: inline-block;
  margin-bottom: 10px;
}

div.ces_summaryblock_number,
div.ces_summaryblock_trade {
  padding-right: 15px;
  padding-left: 15px;
}

div.ces_summaryblock_trade {
  padding-left: 15px;
  padding-right: 10px;
}
