.form_i4c legend {
  font-weight: bold;
}
.form_i4c textarea {
  margin: 10px 0;
  min-height: 200px;
  width: 100%;
}
.form_i4c input[type='text'],
.form_i4c  textarea {
  width: 100%;
}
.info_import {
  padding: 10px;
}
#step_info {
  background: none repeat scroll 0 0 #f5f5f5;
  width: 100%;
}
#actions > a {
  background: none repeat scroll 0 0 #9acd32;
  border-radius: 6%;
  color: #fff;
  margin: 6px 6px 6px 0;
  padding: 4px;
}
#message {
  color: green;
}

#edit_file textarea {
  height: 500px;
  line-height: 1.5;
  width: 100%;
}
